@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
html {
	height: 100%;
	width: 100%;
}
body, main {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: scroll;
}

*::-webkit-scrollbar {
	display: none;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(red, red);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.paragraph {
    white-space: pre-line;
}

.is-loading {
	position:relative;
	min-height: 200px;
}
.is-loading * {
	display: none !important;
}
.is-loading:before {
	content: '';
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 1;
}
.is-loading:after {
	content: '	';
	position: absolute;
	top:50%;
	left:50%;
	width: 50px;
	height: 50px;
	border: 1px black solid;
	border-top-color: rgba(0,0,0,.1);
	z-index: 2;
	border-radius: 50%;
	animation: rotate .5s linear infinite;
	transform-origin: center;
}
@keyframes rotate {
	0% {
		transform: translate(-50%,-50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%,-50%) rotate(360deg);
	}
}