.career-infos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .career-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .career-infos-description {
        width: 100%;
    }
}